/* Atoms */



/* link_cta */
.link_cta{
  @include border-radius(12px);
  border:1px solid $greytone;
  background-color:white;
  color:$primary-color;
  text-decoration:none;
  padding:8px 20px 8px 20px;
}