/* Theme */



/* skin variables */
$font-stack: Helvetica, Arial, sans-serif;
$neutral-white:white;
$primary-color:#746E67;
$greytone:#979797;
$secondary-grey:#D8D8D8;
$text-color:#666666;
$text2-color:#4A4A4A;
$table-bg:#F5F5F5;
$modal-bg:#ADADAD;