<search-bar (onSearch)="onSearch($event)">
</search-bar>
<div *ngIf="laoding">
    Getting data...
</div>
<p-panel *ngIf="!laoding && wheaterInfo" header="{{wheaterInfo.name}}">
    <ul>
        <li>
            {{wheaterInfo.weather[0].main}}
            <img [src]="'http://openweathermap.org/img/w/' + wheaterInfo.weather[0].icon + '.png'" />
        </li>
        <li>
            Temperatura: {{wheaterInfo.main.temp | kelvinToCelsius | number}}
        </li>
        <li>
            Pressione: {{wheaterInfo.main.pressure}}
        </li>
        <li>
            Umidità: {{wheaterInfo.main.humidity}}
        </li>
        <li>
            Temperatura minima: {{wheaterInfo.main.temp_min | kelvinToCelsius}}
        </li>
        <li>
            Temperatura massima: {{wheaterInfo.main.temp_max | kelvinToCelsius}}
        </li>
    </ul>
    <comment-list [value]="comments"></comment-list>
</p-panel>