<search-bar (onSearch)="onSearch($event)"></search-bar>
<hr />
<div *ngIf="currentWeahterInfo">
    <p-panel header="{{currentWeahterInfo.name}} Weather">
        <dl>
            <dt>Weather</dt>
            <dd>{{currentWeahterInfo.weather[0].description}}<weather-icon [weather]="currentWeahterInfo.weather[0]"></weather-icon></dd>
            <dt>Temperature (Min/Max)</dt>
            <dd>{{currentWeahterInfo.main.temp_min}}/{{currentWeahterInfo.main.temp_max}} °F</dd>
            <dt>Pressure</dt>
            <dd>{{currentWeahterInfo.main.pressure}}</dd>
            <dt>Humidity</dt>
            <dd>{{currentWeahterInfo.main.humidity}} %</dd>
        </dl>
    </p-panel>
</div>
<div *ngIf="!currentWeahterInfo">
    Loading...
</div>

