<search-bar (onSearch)="onSearch($event)"></search-bar>
<hr />
<div *ngIf="loading">
    Loading...
</div>
<div *ngIf="currentWeahterInfo">
    <p-panel header="{{currentWeahterInfo.name}} Weather">
        <p-tabView>
            <p-tabPanel header="Main">
                <dl>
                    <dt>Weather</dt>
                    <dd>{{currentWeahterInfo.weather[0].description}}
                        <weather-icon [weather]="currentWeahterInfo.weather[0]"></weather-icon>
                    </dd>
                    <dt>Temperature (Min/Max)</dt>
                    <dd>
                        <span [hotColdFeedback]="currentWeahterInfo.main.temp_min | celsius">{{currentWeahterInfo.main.temp_min | celsius}}</span>/
                        <span [hotColdFeedback]="currentWeahterInfo.main.temp_max | celsius">{{currentWeahterInfo.main.temp_max | celsius}}</span> °C
                    </dd>
                    <dt>Pressure</dt>
                    <dd>{{currentWeahterInfo.main.pressure}}</dd>
                    <dt>Humidity</dt>
                    <dd>{{currentWeahterInfo.main.humidity}} %</dd>
                </dl>
            </p-tabPanel>
            <p-tabPanel header="Comments">
                <comment-list [comments]="currentWeahterInfo.comments"></comment-list>
                <button pButton type="button" label="New Comment" routerLink="/new-comment"></button>
            </p-tabPanel>
            <p-tabPanel header="Charts">
                <div class="ui-g">
                    <div class="ui-g-6"><h2>Min</h2></div>
                    <div class="ui-g-6"><h2>Max</h2></div>
                    <div class="ui-g-6"><temperatures-chart [values]="minDataChars"></temperatures-chart></div>
                    <div class="ui-g-6"><temperatures-chart [values]="maxDataChars"></temperatures-chart></div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </p-panel>
</div>